body {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    
}

h1 {
    font-size: clamp(32px, 10vw, 100px);
    color: white;
    font-family: "fit-variable", sans-serif;
    font-variation-settings: "wdth" 1500;
    position: static;

}

h2 {
    font-size: clamp(32px, 10vw, 100px);
    display: none;
}

img {
    display: none;
}

/* Responsive Media Queries */

@media (max-width: 1500px) {
    body {
        background: red;
    }

    h1 {
        color: rgb(255, 255, 255);
        font-variation-settings: "wdth"1000;
        font-weight: bolder;
        font-size: 100;
        
    }
}

@media (max-width: 1000px) {
    body {
        background: rgb(255, 255, 255);
    }

    h1 {
        color: rgb(0, 0, 0);
        font-variation-settings: "wdth"700;
        font-weight: 900;

    }
}

@media (max-width: 700px) {
    body {
        background: rgb(8, 118, 6);
    }

    h1 {
        color: rgb(255, 255, 255);
        font-variation-settings: "wdth"400;
        font-weight: 600;
    }
}

@media (max-width: 600px) {
    body {
        background: rgb(0, 0, 0);
    }

    h1 {
        color: rgb(255, 0, 0);
        display: none;
        font-variation-settings: "wdth"300;
        font-weight: 100;
    }

    img {
        display: block;
    }
}